@model ClassLibrary.Writer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Silmek İstediğine Emin Misin ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.writerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.writerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.writerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.writerName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="writerID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
    </form>
</div>
