@model ClassLibrary.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Silme İşlemi</h1>

<h3>Silmek İstediğine Emin Misin ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryName)
        </dd>
    </dl>
    <div>

    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="categoryID" />
        <input type="submit" value="Sil" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>

    </form>
</div>
